@model IEnumerable<NoteSharingApp.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>Index</h2>-->
<h1>Document List</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    <h3><a asp-action="PostNotes">Want to upload notes. Click Here!</a></h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.User_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.UploadDateTimeOffset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>-->
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.User_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
           <!-- <td>
                @Html.DisplayFor(modelItem => item.UploadDateTimeOffset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>-->
           
            <td>
                
                <!--<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |-->
                <!--<a asp-action="Details" asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-file"></span>
                </a> |
                <a asp-action ="Delete" asp-route-id ="@item.ID" >
                    <span class="glyphicon glyphicon-trash"></span>
                </a> |
                <a asp-action="DownloadAttachment" asp-route-id="@item.ID"><span class="glyphicon glyphicon-download-alt"></span></a> -->
               
                    <a href="~/@item.FileName" target="_blank"><span class="glyphicon glyphicon-file"></a>
                    @if (@User.Identity.Name == item.User.User_name)
                    {
                        <a href="/Documents/Delete/@item.ID"><span class="glyphicon glyphicon-trash"></a>
                    }
                    <a href="/Documents/DownloadAttachment/@item.ID"><span class="glyphicon glyphicon-download-alt"></a>
               
                
            </td>
        </tr>
}
    </tbody>
</table>
