@model NoteSharingApp.Models.Document

@{
    ViewData["Title"] = "Post Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container">
    <div class="col-xs-3 col-sm-3 col-md-3 profile-image" style="margin-top : 15px !important;">
        <img src="http://img.timeinc.net/time/daily/2010/1011/poy_nomination_agassi.jpg" />
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9">
        <div class="col-xs-9 col-sm-9 col-md-9">
            <div>
                <h3>Name: @ViewBag.Name</h3>
            </div>
            <div><h3>School: @ViewBag.School</h3></div>
            <div><h3>Enrollment Year: @ViewBag.EnrollmentYear</h3></div>
            <div><h3>Current Semester: @ViewBag.CurrentSemester</h3></div>
        </div>
       
</div>
    <div class="container">

        <div class="col-xs-6 col-sm-6 col-md-6" style="margin-top : 15px !important;">

            <form asp-action="PostNotes" asp-controller="Documents" class="form-inline" method="post" enctype="multipart/form-data">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" value=@ViewBag.UserID/>
                @*<div class="form-group">
                    <label asp-for="User" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
                    </div>
                </div>*@



                <div class="form-group">

                    <label class="custom-file-upload">
                        <input type="file" name="files" />
                        Custom Upload <span class="glyphicon glyphicon-upload"></span>
                    </label>
                </div>

                <div class="form-group">

                    <input class="btn btn-default btn-lg btn-primary upload-btn" type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
    @if (ViewBag.UploadedFiles != null)
    {
        <div class="col-xs-10 col-sm-10 col-md-10" style="color:red">
            @Html.Label((string)ViewBag.UploadedFiles)
        </div>
    }

    <div class="col-xs-6 col-sm-6 col-md-6">
        <div>
            <h2 style="text-align:left;">Recent Upload History</h2>
        </div>
        <table class="table">
            <thead>
                <tr><th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.User_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Extension)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FileName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UploadDateTimeOffset)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in ViewBag.Top10UserDocumentList)
                {

                <tr>
                    <td>
                        <a asp-action="DownloadAttachment" asp-route-id="@document.ID">Download</a>
                    </td>
                   
                    <td>
                        @document.User.User_name
                    </td>
                    <td>
                        @document.Extension
                    </td>
                    <td>
                        @document.FileName
                    </td>
                    <td>
                        @document.UploadDateTimeOffset
                    </td>
                    <td>
                        @document.Size
                    </td>


                </tr>

                }
            </tbody>
        </table>
        @*<a href="">Introduction to Ruby on Rails</a>
        <a href="">Multithreading in Java</a>
        <br />
        <a href="">Merge Sort Notes</a>*@



    </div>

    
  
</div>

